.button {
  background-color: #ed5f0d;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(21, 154, 200);
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  width: 200px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 8px 20px 0 rgba(141, 66, 66, 0.835), 0 8px 20px 0 rgba(0,0,0,0.19);
  transition: height 0.4s, width 0.4s, font-size 0.4s, opacity 0.4s, background-color 0.4s, color 0.4s, box-shadow 0.4s;
}

.button:hover {
  background-color: #e87938;
  color: rgb(241, 225, 225);
  font-size: 20px;
  width: 210px;
  height: 52px;
  opacity: 0.8;
  box-shadow: 10px 12px 40px 2px rgba(141, 66, 66, 0.835), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  transition: height 0.4s, width 0.4s, font-size 0.4s, opacity 0.4s, background-color 0.4s, color 0.4s, box-shadow 0.4s;
}

.button:active {
  background-color: #f49a66;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 210px;
  height: 52px;
  opacity: 0.5;
  box-shadow: 10px 12px 40px 2px rgba(141, 66, 66, 0.835), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}


.p1 {
  color: rgb(21, 154, 200);
  font-size: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 0px 0px rgb(71, 53, 100),
       -1px 0px 0px rgb(71, 53, 100),
       0px 1px 0px rgb(71, 53, 100),
       0px -1px 0px rgb(71, 53, 100);
}

.p2 {
  color: rgb(255, 0, 0);
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 0px 0px rgb(0, 0, 0),
       -1px 0px 0px rgb(0, 0, 0),
       0px 1px 0px rgb(0, 0, 0),
       0px -1px 0px rgb(0, 0, 0);
}
form {
  text-align: center;
}
.img1{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;
    width: 600px;
    border-radius: 20px;
    opacity:0.7;
    float: left;
}

.img2{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;
    width: 600px;
    border-radius: 20px;
    opacity:0.7;
    float: right;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  opacity: 0.65;
  background-image:url("https://th.bing.com/th/id/R.0f5e04ec66d7a6e19795b0c312ef17aa?rik=clY31xOlb2k4tw&riu=http%3a%2f%2feskipaper.com%2fimages%2ftable-flowers-background-1.jpg&ehk=s5m89hxCVKBmLwq4SgL5qT0mezcRFp9jrse8FoQV%2btg%3d&risl=&pid=ImgRaw&r=0")
}
.Menu{
  text-align: center;
  font-size:30px;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow:1px 0px 0px rgb(93, 36, 36),
  -1px 0px 0px rgb(93, 36, 36),
  0px 1px 0px rgb(93, 36, 36),
  0px -1px 0px rgb(93, 36, 36);
  font-weight: 'italic';
  color: rgba(48, 166, 179, 0.817);
}
.body{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(56, 112, 49);
  text-shadow: none;
}